<div class="container">
  <div class="col-xs-8 col-xs-offset-2">
    <h2>Sign up</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">
        <div class="row">
          <div class="col-xs-6">
            <%= f.input :first_name,
              autofocus: true,
              input_html: { autocomplete: "name" }, placeholder: 'Jamie'%>
          </div>
          <div class="col-xs-6">
            <%= f.input :name,
              autofocus: true,
              input_html: { autocomplete: "family name" }, placeholder: 'Oliver'%>
          </div>
        </div>
        <%= f.input :address,
          autofocus: true,
          input_html: { autocomplete: "your home address" }, placeholder: 'Rue du Port-Franc 22, Lausanne'%>
        <div class="row">
          <div class="col-xs-6">
            <%= f.input :phone_number, autofocus: true, input_html: { autocomplete: "your phone_number" }, placeholder: '079 248 45 98'%>
          </div>
          <div class="col-xs-6">
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" }, placeholder: 'jamie.oliver@gmail.com'%>
          </div>
        </div>
        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), input_html: { autocomplete: "new-password" }, placeholder: '******' %>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" }, placeholder: "******" %>
      </div>
      <div class="form-actions">
        <%= f.button :submit, "Sign up", class: "link-to-button" %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>
