



<div class="navbar-wagon navbar-fixed-top">
  <!-- Logo -->
  <%= link_to root_path do  %>
    <i class="fas fa-bacon circle-icon logo-rond"></i>
  <% end %>
  <!-- Right Navigation -->
    <div class="navbar-wagon-right hidden-xs hidden-sm">

      <% if user_signed_in? %>

        <!-- Links when logged in -->
        <%= link_to "Shop", "#", class: "navbar-wagon-item navbar-wagon-link" %>
        <%= link_to "Cook", "#", class: "navbar-wagon-item navbar-wagon-link" %>

        <!-- Avatar with dropdown menu -->
        <div class="navbar-wagon-item">
          <div class="dropdown">
            <%= image_tag "https://trello-avatars.s3.amazonaws.com/85d8e30add19e71091ea2b9e93060c52/original.png", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
            <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
              <li>
                <%= link_to "#" do %>
                  <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
                <% end %>
              </li>
              <li>
                <%= link_to "#" do %>
                  <i class="fas fa-shopping-basket"></i>  <%= t(".settings", default: "My purchases") %>
                <% end %>
              </li>
              <li>
                <%= link_to "#" do %>
                  <i class="far fa-heart"></i>  <%= t(".settings", default: "My favorites") %>
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <i class="fas fa-sign-out-alt"></i>  <%= t(".sign_out", default: "Log out") %>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      <% else %>
        <!-- Login link (when logged out) -->
        <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <% end %>
    </div>

  <!-- Right Navigation -->

</div>

