<!-- <div class="form-inline col-xs-6 col-xs-offset-4">
  <%= form_tag recipes_path, method: :get do %>
    <%= text_field_tag :category,
          params[:category],
          placeholder: "Recipe category"
        %>
    <%= submit_tag "Find recipes", class: 'link-to-button' %>
  <% end %>
</div> -->


<div class="form-inline" style="margin-top:25px;">
  <%= form_tag recipes_path, method: :get do %>
    <%= select_tag :category, options_for_select(Recipe::RECIPE_CATEGORIES), prompt: "Select something" %>
    <%= submit_tag "Find recipes", class: 'link-to-button' %>
  <% end %>
</div>

