
<% @order.recipes.each do |key, value| %>
<div class="recipe-cart <%= key %> col-xs-8 col-xs-offset-2">
  <h2 class="<%= value == "" ? "placeholder-light" : "placeholder-bold" %>">
      <%= key.capitalize %> :</h2>
  <h2 class="<%= value == "" ? "placeholder-light" : "placeholder-bold" %>"><%= value == "" ? "Eating out 😋" : display_recipe_name(value) %></h2>
  <i class="fas fa-chevron-down"></i>
</div>
<div class="ingredient-cart <%= key %> col-xs-8 col-xs-offset-2">
  <% @order.order_details.where(day: key).each do |detail| %>
   <ul class="list-unstyled">
     <li>
      <div class="composant-view">
        <img class="composant-img" src="https://www.themealdb.com/images/ingredients/<%= detail.composant.ingredient %>-Small.png">
        <div class="composant-qty">
          <h3><%= detail.composant.quantity %></h3>
        </div>
        <div class="composant-gr">
          <h3>gr</h3>
        </div>
        <div class="composant-ingredient">
          <h3><%= detail.composant.ingredient %></h3>
        </div>
        <div class="composant-price">
          <h3><strong><%= detail.composant.price_cents %> CHF</strong></h3>
        </div>
        <div class = composant-button>
          <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
          </label>
        </div>
      </div>
    </li>
   </ul>
  <% end %>
</div>
<% end %>
