<div class="container">
  <h1>Your Cart</h1>
  <div class="row">
    <% @order.recipes.each do |key, value| %>
    <div class="recipe-cart <%= key %> col-xs-8 col-xs-offset-2">
      <h2><%= key.capitalize %> : <%= display_recipe_name(value) %></h2>
      <i class="fas fa-chevron-down"></i>
    </div>
    <div class="ingredient-cart <%= key %> col-xs-8 col-xs-offset-2">
      <% @order.order_details.where(day: key).each do |detail| %>
       <ul class="list-unstyled">
         <li><%= detail.composant.quantity %>gr <%= detail.composant.ingredient %></li>
       </ul>
      <% end %>
    </div>
    <% end %>
  </div>
  <%= link_to recipes_path do %>
    <i class="fas fa-chevron-circle-left" style="color: red; font-size: 40px; margin-bottom: 10px; "></i>
  <% end %>
  <div>
    <%= link_to 'Set delivery', new_order_delivery_path(@order), class: "link-to-button"  %>
  </div>
</div>
