<div class="container">
  <%= simple_form_for [@order, @delivery], url: order_payments_path, method: :post  do |f| %>
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3" id="form-payment">
      <div class="col-xs-12">
         <h1>Choose your delivery time</h1>
        <%= f.input :delivery_date, as: :string, input_html: {class: "datepicker"} %>
      </div>
      <div class="col-xs-12">
        <%= f.input :address, label: 'To your place?  Change if you want to be delivered to another address!'%>
      </div>
      <div class="col-xs-12">
        <article>
          <label class="amount">
            <span><p>Total to be paid: <%= render "payments/total" %></p></span>
          </label>
        </article>

      </div>
      <div class="col-xs-12">
        <article>
          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-name="My Order"
            data-email="<%= current_user.email %>"
            data-description="n° <%= @order.id %>"
            data-amount="<%= @order.amount_cents*100 %>"
            data-currency="<%= @order.amount.currency %>"></script>
        </article>
      </div>

      <!-- Insert delivery details here -->

    <% end %>
    </div>
  </div>
</div>
